<ion-popover-view style="height: 110px; width: 150px; background: #50505A; border-radius: 5px;">
        <ion-content>
          <div class="list" >
            <a style="background: #50505A; color: #ffffff; border-color: #2D2D32;" class="item" ng-click="goTo('app.yearnalogi')">
              По годам
            </a>
            <a style="background: #50505A; color: #ffffff; border-color: #2D2D32;" class="item" ng-click="goTo('app.nalogi')">
              По месяцам
            </a>
          </div>
        </ion-content>
      </ion-popover-view>
