<ion-view view-title="Browse">
  <ion-content>
    <h1>Test</h1>
    {{query}}
    <div class="list">

      <div class="item item-button-right">
        Place
        <select ng-model="query.name">
          <option ng-repeat="p in places" value="{{p}}">{{p}}</option>
        </select>
      </div>
      <div class="item item-button-right">
        Column 1
        <select ng-model="query.colName1">
          <option ng-repeat="p in colNames" value="{{p}}">{{p}}</option>
        </select>
      </div>
      <div class="item item-button-right">
        Column 2
        <select ng-model="query.colName2">
          <option ng-repeat="p in colNames" value="{{p}}">{{p}}</option>
        </select>
      </div>
      <div class="item">
        <button class="button button-full" ng-click="updateData()">OK</button>
      </div>
      <hr>
      {{result}}


<ion-scroll direction="y" style="height:100vh;">
    <div class="list">

      <div class="item" ng-repeat="p in places" ng-click="raw_selected(p)" ng-if="query.name==p" style="color:red; padding-top: 0px; padding-bottom: 0px;">
        <div class="row">
          <div class="col">{{p}}</div>
          <div class="col">{{result.r1[0]}}</div>
          <div class="col">{{result.r2[0]}}</div>
        </div>
          
      </div>
      
      <div class="item" ng-repeat="p in places" ng-click="raw_selected(p)" ng-if="query.name!=p" style="padding-top: 0px; padding-bottom: 0px;">
        <div class="row">
          <div class="col">{{p}}</div>
          <div class="col">{{result.r1[0]}}</div>
          <div class="col">{{result.r2[0]}}</div>
        </div>
      </div>

</div>
</ion-scroll>




  </div>
  </ion-content>
</ion-view>
